version: '3.1'
services:
  db:
    image: mysql
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: inventorydb
      MYSQL_USER: matsuoka
      MYSQL_PASSWORD: 1234
    ports:
      - "3306:3306"
    volumes:
      - matsuoka_data:/var/lib/mysql
volumes:
  matsuoka_data:
