spring:
  datasource:
    url: jdbc:mysql://localhost:3306/inventorydb?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true
    username: matsuoka
    password: 1234

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true